[user]
	name = Matyas Mihalyi
	email = mihalyi.istvan.m@outlook.hu
[credential]
	credentialStore = secretservice
	helper = store
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nvim
[color "status"]
	branch = 215
	added = 80
	changed = 69
	deleted = 211
	untracked = 113
[push]
  autoSetupRemote = true
[alias]
	st = status
	unstage = reset HEAD --
	lg = log --oneline -10 --abbrev-commit --stat --format=\"%n%C(45)%h %C(135)%s\"
	lg = log --oneline -10 
  rf = checkout HEAD --
  mf = checkout --patch --
  co = checkout
